*{
    margin:0;
    padding:0;
}
body{
    background-color:rgb(241, 229, 229);
}

.container{
    background-color:white;
    margin-top: 0px;
    padding:20px;
    display: flex;
    flex-flow: column wrap;
    width:350px;
    height:300px;
    /* border:2px solid blue; */
    justify-content: space-evenly;
    border-radius: 10px;

}
input, button{
    border:none;
    background-color: #e7e7e7;
    padding:8px;
}
button{
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    font-weight:600;
}
.box1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.box2{
    display:flex;
   justify-content: space-around;
}
a{
    text-decoration: none;
    color:dodgerblue;
}
h1{
    color:blueviolet;
    text-align: center;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}
label{
    font-size: 18px;
}